<h2><%= @user.name %></h2>

<p>
  This is your profile stats<br>
  Email: <%= @user.email %>
  <br>
  All events created:
  <br>
  <% @events.each do |e| %>
    <%= e.created_events.title %>
    <br>
  <% end %>

</p>

<%= link_to "Home Page", root_path %>
