<h1>Eventor</h1>
<p>All private events hosted here!</p>

Come register and host your private events!

<%= link_to "Sign up for free now!", new_user_registration_path %>

<%= link_to "Have an account? Login here!", new_user_session_path %>
